#about
    padding: 96px 0px
    h1
        font-size: 40px
        margin-bottom: 16px
        font-weight: 700
        color: #212529
    h4
        font-size: 18px
        font-weight: 400
        margin-bottom: 64px
        color: #6c757d
    h2
        font-size: 24px
        font-weight: 700
        color: #212529
        margin-bottom: 8px
    p
        color: #6c757d
        font-size: 18px
        font-weight: 400
        line-height: 1.75
    .imgbox
        border-radius: 100%
        border: 7px solid #e9ecef
        margin-left: 40px
        overflow: hidden
        width: 160px
        height: 160px
    .second
        width: 400px
